body {
  margin: 0;
  width: 100%;
  height: 100vh;

}

#pocion {
  position: absolute;
  top: 225px;
  left: 250px;
  width: 200px;
  height: 200px;
  transform-origin: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(vaso.png);
  z-index: 2;

}

#liquido {
  background-color: rgb(255, 255, 255);
  height: 140px;
  width: 120px;
  position: absolute;
  top: 260px;
  left: 265px;
  z-index: 1;
}

body:hover #liquido {
  animation: pocion 5s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body:hover #jarra {
  animation: jarra 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#jarra {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  transform-origin: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(pocion.webp);
  z-index: 2;
}

@keyframes pocion {
  0% {
      height: 0px;
      top: 397px;
      background-color: rgb(134, 226, 43)
  }


  100% {
      height: 140px;
      top: 260px;
      background-color: rgb(134, 226, 43)
    }
  }


@keyframes jarra {
  0% {
      transform: rotate(0deg);
  }

  85% {
      transform: rotate(45deg);
  }

  100% {
      transform: rotate(0deg);
  }
}