body {
  padding: 0;
  margin: 0;
  
}
#jarraBG {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  animation: vertir 6s linear infinite;

}
#jarra {
  transform:  rotateY(180deg);
}
#vasoBG {
  width: 20%;
  position: absolute;
  top: 250px;
  left: 250px;
}

#contenido {
  width: 65%;
  height: 0px;
  position: absolute;
  background-color: blue;
  top: 90px;
  left: 20px;
  animation-delay: 6s;
  animation: rellenar 6s linear infinite;
}

@keyframes vertir {
  0% {
    transform:  rotateZ(0deg);
  }
  100% {
    transform:  rotateZ(45deg);
  }

}

@keyframes rellenar {
  0% {
    height: 0px;
  }
  100% {
    height: 100px;
  }

}

